h1 {
    font-family: "Georgia", Times, Times New Roman, serif;
    background-color: #4aaaa5;
}
h5 {
    font-family: "Georgia", Times, Times New Roman, serif;
    background-color: #ffffff;
}

h2 {
    background-color: #ffffff;
    border: 1px solid #cccccc;
    font-family: "Georgia", Times, Times New Roman, serif;
}
footer {
    background-color: #666666;
    font-family: "Georgia", Times, Times New Roman, serif;
    clear: both;
}


h3 {
    font-family: "Georgia", Times, Times New Roman, serif;
}


#main-content {
    background-color: #ffffff;
    border: 2px solid #dddddd;
    color: #777777;

}